<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Micks Rave Zone</title>
	<link rel="stylesheet" href="static/assets/styles/mickstyles.css">
</head>
<body>
	<div class="micks-background"></div>
	<div class="micks-mainoverlay">
		<div class="micks-mainpage">
			<div class="micks-topbanner"> 
				<img src="static/assets/images/Main Icon With Name Black.png" height="100px">
				<div class="micks-btn"><p>Home</p></div>
				<div class="micks-btn"><p>My Resume</p></div>
				<div class="micks-btn"><p>My Projects</p></div>
				<div class="micks-btn"><p>My Contacts</p></div>
				<div class="micks-btn"><p>Sign In</p></div>
			</div>
			<p>Mukund : Welcome to my page, though its not finished yet!</p>
			<p>This is a test page</p>
			<p>This page is currently under construction. Please check again later.</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
			<p>Test</p>
		</div>
	</div>
</body>
</html>