<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Micks Rave Zone</title>
	<link rel="stylesheet" href="static/assets/styles/mickstyles.css">
</head>
<body>
	<div class="micks-mainpage">
		<div class="micks-topbanner"> 
			<ul>
				<img src="static/assets/images/Main Icon With Name Black.png" height="100px">
				<div class="micks-btn"><a href="/"><p>Home</p></a></div>
				<div class="micks-btn"><p>My Resume</p></div>
				<div class="micks-btn"><a href="/myprojects"><p>My Projects</p></a></div>
				<div class="micks-btn"><p>My Contacts</p></div>
				<div class="micks-btn"><p>Sign In</p></div>
			</ul>
		</div>
		<div class="micks-mainsection">
			<div class="micks-list">
				<div class="micks-listitem">Block Type 1 : Limited number of lines (Blah! Blah! Blah! Blah! Blah! Blah! )</div>
				<div class="micks-listitem">Block Type 0 : Small number of lines (Blah! Blah!)</div>
				<div class="micks-listitem">Block Type 2 : Large number of lines (Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! )</div>
				<div class="micks-listitem">Block Type 0 : Small number of lines (Blah! Blah!)</div>
				<div class="micks-listitem">Block Type 1 : Limited number of lines (Blah! Blah! Blah! Blah! Blah! Blah! )</div>
				<div class="micks-listitem">Block Type 2 : Large number of lines (Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! )</div>
				<div class="micks-listitem">Block Type 2 : Large number of lines (Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! )</div>
				<div class="micks-listitem">Block Type 1 : Limited number of lines (Blah! Blah! Blah! Blah! Blah! Blah! )</div>
				<div class="micks-listitem">Block Type 3 : Extra Large number of lines (Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! Blah! )</div>
				<div class="micks-listitem">Block Type 0 : Small number of lines (Blah! Blah!)</div>
				<div class="micks-listitem">Block Type 0 : Small number of lines (Blah! Blah!)</div>
			</div>
		</div>
	</div>
</body>
</html>