<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Micks Rave Zone - My Projects</title>
	<link rel="stylesheet" href="static/assets/styles/mickstyles.css">
</head>
<body>
	<div class="micks-background"></div>
	<div class="micks-mainoverlay">
		<div class="micks-mainpage">
			<div class="micks-topbanner"> 
				<img src="static/assets/images/Main Icon With Name Black.png" height="100px">
				<div class="micks-btn"><p>Home</p></div>
				<div class="micks-btn"><p>My Resume</p></div>
				<div class="micks-btn"><p>My Projects</p></div>
				<div class="micks-btn"><p>My Contacts</p></div>
				<div class="micks-btn"><p>Sign In</p></div>
			</div>
			<div class="micks-mainsection">
				<div class="micks-projlist">
					<div class="micks-projlistitem">
						<p>MicksRaveZone.com</p>
						<p>Flask Based Website</p>
						<p>Created by Mukund Chandra</p>
						<p>Details about the project:</p>
					</div>
					<div class="micks-projlistitem">
						<p>Temp Placeholder</p>
						<p>Temp Placeholder</p>
						<p>Temp Placeholder</p>
						<p>Temp Placeholder</p>
					</div>
					<div class="micks-projlistitem">
						<p>Temp Placeholder</p>
						<p>Temp Placeholder</p>
						<p>Temp Placeholder</p>
						<p>Temp Placeholder</p>
					</div>
					<div class="micks-projlistitem">
						<p>Temp Placeholder</p>
						<p>Temp Placeholder</p>
						<p>Temp Placeholder</p>
						<p>Temp Placeholder</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>