<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Micks Rave Zone - My Projects</title>
	<link rel="stylesheet" href="static/assets/styles/mickstyles.css">
</head>
<body>
	<div class="micks-background"></div>
	<div class="micks-mainoverlay">
		<div class="micks-mainpage">
			<div class="micks-topbanner"> 
				<img src="static/assets/images/Main Icon With Name Black.png" height="100px">
				<div class="micks-btn"><a href="/"><p>Home</p></a></div>
				<div class="micks-btn"><p>My Resume</p></div>
				<div class="micks-btn"><a href="/myprojects"><p>My Projects</p></a></div>
				<div class="micks-btn"><p>My Contacts</p></div>
				<div class="micks-btn"><p>Sign In</p></div>
			</div>
			<div class="micks-mainsection">
				<div class="micks-signin">
					<div class="micks-signin-text">
						<p>Sign In or Register to MicksRaveZone.com</p>
					</div>
					<div class="micks-signin-username">
						<p>Username:</p>
						<input type="text" id="user_name" name="uname">
					</div>
					<div class="micks-signin-password">
						<p>Password:</p>
						<input type="text" id="pass_word" name="pword">
					</div>
					<div class="micks-signin-or-register">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>